.pageContainer {
    background: linear-gradient(to bottom, #fdb9d7, #f987b2);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}