.pageContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.storyImg {
    background-image: url('https://www.onelight.ink/assets/images/miniLogo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    height: 450px;
}