.pageContainer {
    padding: 20px;
    height: 100vh;
    background-image: url('https://www.onelight.ink/assets/images/story4.png');
    background-size: 400px 500px;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}